basePath: /api/v1
definitions:
  domain.UserRequest:
    properties:
      email:
        type: string
      name:
        type: string
      password:
        minLength: 8
        type: string
    required:
    - email
    - name
    - password
    type: object
externalDocs:
  description: OpenAPI
  url: https://swagger.io/resources/open-api/
host: 127.0.0.1:8080
info:
  contact:
    email: yehezkiel1086@gmail.com
    name: Yehezkiel Wiradhika
    url: https://yehezkiel-wiradhika.vercel.app
  description: Hexagonal architecture built with Go.
  termsOfService: http://swagger.io/terms/
  title: Go Gin Hexa Archi
  version: "1.0"
paths:
  /register:
    post:
      consumes:
      - application/json
      description: Create a new user account
      parameters:
      - description: User request
        in: body
        name: userRequest
        required: true
        schema:
          $ref: '#/definitions/domain.UserRequest'
      produces:
      - application/json
      responses:
        "201":
          description: user registered successfully
          schema:
            type: string
        "400":
          description: bad request
          schema:
            type: string
        "500":
          description: internal server error
          schema:
            type: string
      summary: Register new user
      tags:
      - users
securityDefinitions:
  BasicAuth:
    type: basic
swagger: "2.0"
